<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #7c7777;
}

.container {
    margin-top: 50px;
}

.product-list {
    margin-bottom: 50px;
}

.img-thumbnail {
    width: 100%;
    height: auto;
}

.price {
    color: #333;
    font-weight: bold;
}

.buy-now-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.buy-now-button:hover {
    background-color: #0056b3;
    color: #fff;
}
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index' %}">FitBurn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- Left side of the navbar -->
            <div class="mr-auto">
                <form method="GET" action="{% url 'product_list' %}" class="form-inline">
                    <input type="text" name="search" placeholder="Search for products.." class="form-control mr-2">
                    <button type="submit" class="btn btn-outline-success">Search</button>
                </form>
            </div>
            <!-- Right side of the navbar -->
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'product_list' %}">ALL PRODUCTS</a>
                </li>
                <!-- Other navbar items here -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_cart' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'orders' %}">Orders</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'index' %}?category=1">CARDIO</a>
                        <a class="dropdown-item" href="{% url 'index' %}?category=5">STRENGTH TRAINING</a>
                        <a class="dropdown-item" href="{% url 'index' %}?category=2">FLEXIBILITY</a>
                        <a class="dropdown-item" href="{% url 'index' %}?category=3">ADVENTURE</a>
                        <a class="dropdown-item" href="{% url 'index' %}?category=4">PILATES</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'view_profile' %}">Profile</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" style="color: orangered;">logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="product-list">
            <table>
                <td>
            
            <img src="{{ product.image.url }}" style="min-width: 400px; min-height: 400px;" alt="{{ product.name }}" class="img-thumbnail"></td>
            <td style="padding-left: 50px;min-width: 400px;">
                    <h2>{{ product.name }}</h2>
                    <p><b>Description:</b> {{ product.description }}</p>
                    <p class="price">Price: &#8377;{{ product.price }} INR</p>
                    <p><b>Category:</b> {{ product.category }}</p>
                    <p><b>Manufacture:</b> {{ product.manufacture }}</p>
                    <p><b>Avaliablity:</b> {{ product.quantity }}</p>
               
                
                
                    <a class="buy-now-button" href="{% url 'add_to_cart' product.id %}">Add to Cart</a>
                </td>
            </table>
                </div>
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>